# MTK platform .rc configure
on post-fs-data
    # calibration
    mkdir /data/misc/sensor 0774 system system
    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als

    chmod 0660 /sys/devices/platform/msensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptxy
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptz
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsrange
    chmod 0660 /sys/devices/platform/gsensor/driver/cpsbandwidth

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown system system /dev/gsensor
    chown radio system /dev/als_ps
    chown system system /dev/gyroscope
    chown system system /dev/aal_als

    chmod 0660 /sys/class/misc/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/misc/m_acc_misc/accactive
    chmod 0660 /sys/class/misc/m_acc_misc/accdelay
    chmod 0660 /sys/class/misc/m_acc_misc/accbatch
    chmod 0660 /sys/class/misc/m_acc_misc/accflush
    chown system system /sys/class/misc/m_acc_misc/accenablenodata
    chown system system /sys/class/misc/m_acc_misc/accactive
    chown system system /sys/class/misc/m_acc_misc/accdelay
    chown system system /sys/class/misc/m_acc_misc/accbatch
    chown system system /sys/class/misc/m_acc_misc/accflush

    chmod 0660 /sys/class/misc/m_mag_misc/magactive
    chmod 0660 /sys/class/misc/m_mag_misc/magdelay
    chmod 0660 /sys/class/misc/m_mag_misc/magbatch
    chmod 0660 /sys/class/misc/m_mag_misc/magflush
    chmod 0660 /sys/class/misc/m_mag_misc/magoactive
    chmod 0660 /sys/class/misc/m_mag_misc/magodelay
    chmod 0660 /sys/class/misc/m_mag_misc/magobatch
    chmod 0660 /sys/class/misc/m_mag_misc/magoflush
    chown system system /sys/class/misc/m_mag_misc/magactive
    chown system system /sys/class/misc/m_mag_misc/magdelay
    chown system system /sys/class/misc/m_mag_misc/magbatch
    chown system system /sys/class/misc/m_mag_misc/magflush
    chown system system /sys/class/misc/m_mag_misc/magoactive
    chown system system /sys/class/misc/m_mag_misc/magodelay
    chown system system /sys/class/misc/m_mag_misc/magobatch
    chown system system /sys/class/misc/m_mag_misc/magoflush
    chmod 0660 /sys/class/misc/m_batch_misc/batchactive
    chmod 0660 /sys/class/misc/m_batch_misc/batchdelay
    chmod 0660 /sys/class/misc/m_batch_misc/batchbatch
    chmod 0660 /sys/class/misc/m_batch_misc/batchflush
    chown system system /sys/class/misc/m_batch_misc/batchactive
    chown system system /sys/class/misc/m_batch_misc/batchdelay
    chown system system /sys/class/misc/m_batch_misc/batchbatch
    chown system system /sys/class/misc/m_batch_misc/batchflush

	chmod 0660 /sys/class/misc/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/misc/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/misc/m_gyro_misc/gyroflush
    chown system system /sys/class/misc/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/misc/m_gyro_misc/gyroactive
    chown system system /sys/class/misc/m_gyro_misc/gyrodelay
    chown system system /sys/class/misc/m_gyro_misc/gyrobatch
    chown system system /sys/class/misc/m_gyro_misc/gyroflush

    chmod 0660 /sys/class/misc/m_alsps_misc/alsactive
    chmod 0660 /sys/class/misc/m_alsps_misc/alsdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/alsbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/alsflush
    chmod 0660 /sys/class/misc/m_alsps_misc/psactive
    chmod 0660 /sys/class/misc/m_alsps_misc/psdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/psbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/psflush
    chown system system /sys/class/misc/m_alsps_misc/alsactive
    chown system system /sys/class/misc/m_alsps_misc/alsdelay
    chown system system /sys/class/misc/m_alsps_misc/alsbatch
    chown system system /sys/class/misc/m_alsps_misc/alsflush
    chown system system /sys/class/misc/m_alsps_misc/psactive
    chown system system /sys/class/misc/m_alsps_misc/psdelay
    chown system system /sys/class/misc/m_alsps_misc/psbatch
    chown system system /sys/class/misc/m_alsps_misc/psflush

    chmod 0660 /sys/class/misc/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/misc/m_baro_misc/baroactive
    chmod 0660 /sys/class/misc/m_baro_misc/barodelay
    chmod 0660 /sys/class/misc/m_baro_misc/barobatch
    chmod 0660 /sys/class/misc/m_baro_misc/baroflush
    chown system system /sys/class/misc/m_baro_misc/baroenablenodata
    chown system system /sys/class/misc/m_baro_misc/baroactive
    chown system system /sys/class/misc/m_baro_misc/barodelay
    chown system system /sys/class/misc/m_baro_misc/barobatch
    chown system system /sys/class/misc/m_baro_misc/baroflush

    #bosch add gsensor
    chmod 0660 /sys/bus/platform/drivers/gsensor/acc_odr
    chmod 0660 /sys/bus/platform/drivers/gsensor/acc_op_mode
    chmod 0660 /sys/bus/platform/drivers/gsensor/acc_range
    chmod 0660 /sys/bus/platform/drivers/gsensor/bmi_value
    chmod 0660 /sys/bus/platform/drivers/gsensor/chipinfo
    chmod 0660 /sys/bus/platform/drivers/gsensor/cpsdata
    chmod 0660 /sys/bus/platform/drivers/gsensor/delay
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_bytecount
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_data_frame
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_data_sel
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_header_en
    chown system system /sys/bus/platform/drivers/gsensor/acc_odr
    chown system system /sys/bus/platform/drivers/gsensor/acc_op_mode
    chown system system /sys/bus/platform/drivers/gsensor/acc_range
    chown system system /sys/bus/platform/drivers/gsensor/bmi_value
    chown system system /sys/bus/platform/drivers/gsensor/chipinfo
    chown system system /sys/bus/platform/drivers/gsensor/cpsdata
    chown system system /sys/bus/platform/drivers/gsensor/delay
    chown system system /sys/bus/platform/drivers/gsensor/fifo_bytecount
    chown system system /sys/bus/platform/drivers/gsensor/fifo_data_frame
    chown system system /sys/bus/platform/drivers/gsensor/fifo_data_sel
    chown system system /sys/bus/platform/drivers/gsensor/fifo_header_en

    #bosch add gyro
    chmod 0660 /sys/bus/platform/drivers/gyroscope/rawdata
    chmod 0660 /sys/bus/platform/drivers/gyroscope/gyro_op_mode
    chmod 0660 /sys/bus/platform/drivers/gyroscope/gyro_range
    chmod 0660 /sys/bus/platform/drivers/gyroscope/gyro_odr
    chmod 0660 /sys/bus/platform/drivers/gyroscope/fifo_enable
    chown system system /sys/bus/platform/drivers/gyroscope/rawdata
    chown system system /sys/bus/platform/drivers/gyroscope/gyro_op_mode
    chown system system /sys/bus/platform/drivers/gyroscope/gyro_range
    chown system system /sys/bus/platform/drivers/gyroscope/gyro_odr
    chown system system /sys/bus/platform/drivers/gyroscope/fifo_enable

    #bosch add mag
    chmod 0660 /sys/bus/platform/drivers/msensor/cpsdata
    chmod 0660 /sys/bus/platform/drivers/msensor/cpsopmode
    chmod 0660 /sys/bus/platform/drivers/msensor/cpsreptxy
    chmod 0660 /sys/bus/platform/drivers/msensor/cpsreptz
    chmod 0660 /sys/bus/platform/drivers/msensor/sensordata
    chmod 0660 /sys/bus/platform/drivers/msensor/rawdata
    chmod 0660 /sys/bus/platform/drivers/msensor/op_mode
    chown system system /sys/bus/platform/drivers/msensor/rawdata
    chown system system /sys/bus/platform/drivers/msensor/op_mode
    chown system system /sys/bus/platform/drivers/msensor/cpsdata
    chown system system /sys/bus/platform/drivers/msensor/cpsopmode
    chown system system /sys/bus/platform/drivers/msensor/cpsreptxy
    chown system system /sys/bus/platform/drivers/msensor/cpsreptz
    chown system system /sys/bus/platform/drivers/msensor/sensordata

    #bosch add bma160
    chmod 0660 /sys/bus/platform/drivers/gsensor/cpsdata
    chmod 0660 /sys/bus/platform/drivers/gsensor/cpsopmode
    chmod 0660 /sys/bus/platform/drivers/gsensor/cpsrange
    chmod 0660 /sys/bus/platform/drivers/gsensor/cpsbandwidth
    chmod 0660 /sys/bus/platform/drivers/gsensor/sensordata
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_mode
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_framecount
    chmod 0660 /sys/bus/platform/drivers/gsensor/fifo_data_frame
    chown system system /sys/bus/platform/drivers/gsensor/cpsdata
    chown system system /sys/bus/platform/drivers/gsensor/cpsopmode
    chown system system /sys/bus/platform/drivers/gsensor/cpsrange
    chown system system /sys/bus/platform/drivers/gsensor/cpsbandwidth
    chown system system /sys/bus/platform/drivers/gsensor/sensordata
    chown system system /sys/bus/platform/drivers/gsensor/fifo_mode
    chown system system /sys/bus/platform/drivers/gsensor/fifo_framecount
    chown system system /sys/bus/platform/drivers/gsensor/fifo_data_frame

    #bosch add bmg160
    chmod 0660 /sys/bus/platform/drivers/gyroscope/cpsopmode
    chmod 0660 /sys/bus/platform/drivers/gyroscope/cpsrange
    chmod 0660 /sys/bus/platform/drivers/gyroscope/cpsbandwidth
    chmod 0660 /sys/bus/platform/drivers/gyroscope/sensordata
    chmod 0660 /sys/bus/platform/drivers/gyroscope/fifo_mode
    chmod 0660 /sys/bus/platform/drivers/gyroscope/fifo_framecount
    chmod 0660 /sys/bus/platform/drivers/gyroscope/fifo_data_frame
    chown system system /sys/bus/platform/drivers/gyroscope/cpsopmode
    chown system system /sys/bus/platform/drivers/gyroscope/cpsrange
    chown system system /sys/bus/platform/drivers/gyroscope/cpsbandwidth
    chown system system /sys/bus/platform/drivers/gyroscope/sensordata
    chown system system /sys/bus/platform/drivers/gyroscope/fifo_mode
    chown system system /sys/bus/platform/drivers/gyroscope/fifo_framecount
    chown system system /sys/bus/platform/drivers/gyroscope/fifo_data_frame

    #bosch add step counter/detector/sig motion if the features need
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cenablenodata
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cactive
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cbatch
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cflush
    chmod 0660 /sys/class/misc/m_step_c_misc/step_cdevnum
    chown system system /sys/class/misc/m_step_c_misc/step_cenablenodata
    chown system system /sys/class/misc/m_step_c_misc/step_cactive
    chown system system /sys/class/misc/m_step_c_misc/step_cbatch
    chown system system /sys/class/misc/m_step_c_misc/step_cflush
    chown system system /sys/class/misc/m_step_c_misc/step_cdevnum

    #PMIC
    chmod 0660 /data/misc/acdapi/sensors.dat
    chown system /sys/devices/platform/msensor/driver/cpsopmode
    chown system /sys/devices/platform/msensor/driver/cpsreptxy
    chown system /sys/devices/platform/msensor/driver/cpsreptz
    chown system /sys/devices/platform/gsensor/driver/cpsopmode
    chown system /sys/devices/platform/gsensor/driver/cpsrange

#
#sensor service (begin)
#

service msensord /vendor/bin/msensord
    class main
    oneshot

service s62xd /vendor/bin/s62xd
    disabled
    user compass
    group system
    class main
service ami304d /vendor/bin/ami304d
    user system
    group system
    disabled
    class main

service memsicd /vendor/bin/memsicd
    disabled
    user system
    group system
    class main

service memsicd3416x /vendor/bin/memsicd3416x
    disabled
    user system
    group system
    class main
service akmd8975 /vendor/bin/akmd8975
    disabled
    user system
    group system
    class main

service akmd8963 /vendor/bin/akmd8963
    disabled
    user system
    group system
    class main

service akmd09911 /vendor/bin/akmd09911
    disabled
    user system
    group system
    class main
service bmm050d /vendor/bin/bmm050d
    disabled
    user system
    group system
    class main

service bmm056d /vendor/bin/bmm056d
    disabled
    user system
    group system
    class main
service mc6420d /vendor/bin/mc6420d
    disabled
    user system
    group system
    class main
service qmc5983d /vendor/bin/qmc5983d
     disabled
	 user system
    group system
    class main

service orientationd /vendor/bin/orientationd
    disabled
    user system
    group system input
    class main
service AcdApiDaemon /vendor/bin/AcdApiDaemon
    disabled
    user system
    group system
    class main

service geomagneticd /vendor/bin/geomagneticd
    disabled
    user system
    group system input
    class main

service mpud6050 /vendor/bin/mpud6050
    oneshot
    user system
    group system

service mc64xxd /vendor/bin/mc64xxd
    disabled
    user system
    group system
    class main

service panel-info-sh /system/bin/sh /system/etc/init.panel_info.sh
    class core
    user root
    group root
    oneshot
    seclabel u:r:panel-info-sh:s0

#
#sensor service (end)
#
